.home-page {
    background-color: rgba(0, 0, 255, 0.053);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.content{ 
 /* border: 2px solid black; */
 display: flex;
 flex-direction: row;
 width: 98%;
 text-align: center;
 justify-content: space-between;
 padding: 0px 5px;
 flex-wrap:wrap-reverse;
}
.text-box{
    /* border: 2px solid black; */
    margin: auto;
}

.image-box {
    margin: auto;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('../images/logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.text-box>* {
    margin-top: 7px;
    color: black;
}

@media screen and (max-width:290px) {
    .image-box{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:200px) {
    .image-box{
        margin-top: 40px;
    }
  

}